.spa-section {
    height: 100vh;
    background: rgb(106,5,168);
    background: -moz-linear-gradient(56deg, rgba(106,5,168,1) 75%, rgba(14,3,37,0.9920343137254902) 100%);
    background: -webkit-linear-gradient(56deg, rgba(106,5,168,1) 75%, rgba(14,3,37,0.9920343137254902) 100%);
    background: linear-gradient(56deg, rgba(106,5,168,1) 75%, rgba(14,3,37,0.9920343137254902) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6a05a8",endColorstr="#0e0325",GradientType=1);
    position: relative;
}
.spa-section .left-card-photo-wrapper, .spa-section .right-photo-wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: contain;
    display: flex;
}
.left-card-photo-wrapper {
    left: 0;
    background-position-x: left;
    justify-content: flex-start;
    z-index: 5 !important;
}.left-card-photo-wrapper img {
    width: 30%;
}
.spa-section .right-photo-wrapper {
    right: 0;
    background-position-x: right;
    justify-content: flex-end;
    z-index: 5 !important;
}.right-photo-wrapper a {
    text-decoration: underline;
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 2%;
    top: 2%;
    border-radius: 3rem;
    background: #fff;
}.right-photo-wrapper a img {
    position: absolute;
    width: 2.5rem !important;
    right: 24%;
    top: 26%;
    transition: .4s;
}.right-photo-wrapper a:hover img{
    transform: translate(5px, -6px);
}
.spa-section .right-photo-wrapper img:last-child {
    width: 29%;
    height: 53%;
}
.card-photo {
    height: 100vh;
    width: 100vw;
}nav.navigation-bar {
    height: 20vh;
}
.navigation-bar.ms-5 {
    margin-left: 9rem!important;
}.nav-item-box{
    z-index: 10 !important;
}
.nav-item-box .btn-group .btn{
    color: rgb(255, 255, 255) !important;
    background-color: #7007a3 !important;
    height: 3.4rem;
    margin-bottom: .5rem;
}.nav-item-box .btn-group .btn:hover,.main-content-section .btn-group .btn {
    color: blueviolet !important;
    background-color: #fff !important;
}.nav-item-box .btn-group .btn.border:hover{
    border-color: #fff !important;
}
.nav-item-box .btn-group a.mail-icon-link {
    background: white;
    border-radius: 50%;
    position: relative;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    padding-top: 1.1rem;
    padding-bottom: 1.3rem;
}a.mail-icon-link img {
    width: 3.5rem;
    padding-right: 1rem;
    transform: translate(-3px, 3px);
    transition: .5s;
    position: absolute;
    top: 20%;
    left: 18%;
}a.mail-icon-link:hover img {
    transform: translate(5px, -6px);
}
/*Main section css*/
main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
}
/* Code here */
.item4 .live-img {
    display: flex;
    flex-direction: column;
}.item4 .live-img img {
    width: 5em;
}.live-btn-con {
    position: relative;
}.btngrp .btn {
    margin-bottom: 1rem;
}button.liv-btn-ab {
    position: absolute;
    left: 50%;
    bottom: 100%;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
}.liv-btn-ab:before {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    background: #ff5421;
    position: absolute;
    top: 0;
    border: .7rem solid #fff;
    left: -21%;
    border-radius: 2rem;
}.btn.icon-bfr{
    position: relative;
}.btn.icon-bfr:before {
    content: '';
    background-image: url('./image/FingIcon.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 12%;
    height: 48%;
    padding: 1.2rem;
    border-radius: 1rem;
    font-size: 0.7rem;
    color: #fff;
    top: 14%;
    left: 3%;
    background-size: contain;
    transition: .4s;
}.btn.magic-bfr{
    position: relative;
}
.btn.magic-bfr:before {
    content: 'IN FOR A LITTLE';
    position: absolute;
    width: 55%;
    height: 35%;
    padding: 0.1rem;
    background-color: #3C0CA1;
    border-radius: 1rem;
    font-size: 0.7rem;
    color: #fff;
    top: -23%;
}
.btn.icon-bfr:hover::before {
    transform: translate(16%,-32%);
}
/* Responsive code  */
@media (min-width: 320px) and (max-width:575px) {
    .spa-section .right-photo-wrapper img:last-child {
        width: 38%;
        height: 26%;
    }.right-photo-wrapper a {
        width: 3rem;
        height: 3rem;
        top: 1%;
        right: 0%;
    }.right-photo-wrapper a img {
        width: 2rem !important;
        height: 1.5rem !important;
        right: 17%;
        top: 26%;
    }.nav-item-box .btn-group a.mail-icon-link {
        width: 1rem;
        height: 4rem;
        padding: 2rem;
    }a.mail-icon-link img {
        width: 3.5rem;
        padding-right: 1.3rem;
        top: 27%;
        left: 28%;
    }
    .nav-item-box .btn-group .btn {
        font-size: .6rem;
        margin-bottom: .5rem;
    }.nav-item-box .btn-group .btn.px-5 {
        padding-right: .3rem!important;
        padding-left: .3rem!important;
    }.navigation-bar.ms-5 {
        margin-left: 0rem!important;
    }.nav-item-box .btn-group .btn.px-5 {
        padding-right: 1.3rem!important;
        padding-left: 1.3rem!important;
    }.nav-item-box .btn-group {
        margin-left: 5rem;
    }.nav-item-box .btn-group.pt-4 {
        display: flex;
        flex-direction: column;
    }.item2{
        background-position: center;
        background-position-x: unset;
    }.item4 .live-img img {
        width: 3em;
    }
    .btngrp .btn.fs-5 {
        font-size: .9rem !important;
    }button.liv-btn-ab {
        left: 20%;
        border-radius: 1rem;
        padding-left: 1.7rem;
        padding-bottom: 0.1rem;
        padding-right: 1rem;
        font-size: .9rem;
    }.liv-btn-ab:before {
        width: 1.9rem;
        height: 1.9rem;
        border: .5rem solid #fff;
        left: -9%;
    }.btn.magic-bfr:before {
        width: 71%;
        font-size: 0.6rem;
    }.btn.icon-bfr:before {
        padding: .8rem;
        left: -3%;
    }.btn.icon-bfr {
        padding-left: 1.5rem;
    }
 }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    .nav-item-box .btn-group {
        display: inline-block !important;
    }.spa-section .right-photo-wrapper img:last-child {
        width: 40%;
        height: 40%;
    }.right-photo-wrapper a {
        width: 4rem;
        height: 4rem;
        right: 0%;
        top: 1%;
    }.right-photo-wrapper a img {
        right: 18%;
        top: 28%;
    }.item2{
        background-position-x: center !important;
    }.item4 .live-img img {
        width: 3em;
    }.btn.magic-bfr:before {
        width: 71%;
        font-size: 0.6rem;
    }.btn.icon-bfr:before {
        content: '';
        padding: .8rem;
        left: -3%;
    }button.liv-btn-ab {
        left: 20%;
    }
    
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .spa-section .right-photo-wrapper img:last-child {
        width: 37%;
        height: 45%;
    }.nav-item-box .btn-group {
        display: inline-block !important;
    }
    .nav-item-box .btn-group .btn.me-4 {
        margin-right: 0.9rem!important;
    }.item2{
        background-position-x: center !important;
    }.item3 .btngrp .btn {
        margin-bottom: 1.5rem;
    }.item4 .live-img img {
        width: 4em;
    }.btn.magic-bfr:before {
        width: 71%;
        font-size: 0.6rem;
    }.btn.icon-bfr:before {
        padding: 1rem;
        left: 3%;
    }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .spa-section .right-photo-wrapper img:last-child {
        width: 31%;
        height: 48%;
    }.nav-item-box .btn-group .btn.px-5 {
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }.nav-item-box .btn-group .btn.me-4 {
        margin-right: 0.9rem!important;
    }.nav-item-box .btn-group {
        display: inline-block !important;
    }.item2{
        background-position-x: 25% !important;
    }.item3{
        display: flex;
    }.item4 .live-img img {
        width: 4.3em;
    }
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1399px) {
    .item2{
        background-position-x: 20% !important;
    }.item3{
        display: flex;
    }
 }
 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .item2{
        background-position-x: center !important;
    }.item3{
        display: flex;
        justify-content: center;
    }
    .nav-item-box .btn-group .btn {
        height: 5.4rem;
        font-size: 1.5rem;
    }.nav-item-box .btn-group a.mail-icon-link {
        padding-right: 4.8rem;
    }a.mail-icon-link img {
        width: 5.5rem;
    }.btngrp .btn.fs-5 {
        font-size: 1.5rem!important;
    }.item4 .live-img img {
        width: 10em;
    }
 }